@import '~/src/colors.scss';

.hc--container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $primaryColor;
  padding: 5px 15px;
  background-color: $lightColor;
  font-weight: 800;
  .hc--info {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    align-items: flex-start;
    .name {
      font-size: 18px;
      font-weight: 600;
    }
    .message {
      font-size: 12px;
      font-weight: lighter;
    }
  }
}

.hc--profile-photo {
  width: 45px;
  height: 45px;
  border-radius: 40px;
  border: 2px solid $lightColor;
  object-fit: cover;
}
