@import '~/src/colors.scss';

.hc--container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $mainFontColor;
  padding: 5px 15px;
  background-color: $mainBgLightColor;
  font-weight: 800;
}

.hc--profile-photo {
  width: 45px;
  height: 45px;
  border-radius: 40px;
  border: 2px solid $mainLightColor;
}
