@import '~/src/colors.scss';

.title--bar {
  height: 30px;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  justify-content: space-between;
  color: $lightColor;
  user-select: none;
  .left {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    .menu--icon {
      fill: $lightColor;
      width: 20px;
      opacity: 0.7;
    }
    .title {
      flex: 1;
      display: flex;
      align-items: center;
      // background-color: $lightColor;
      user-select: none;
      -webkit-app-region: drag;
    }
  }
  .right {
    display: flex;
    gap: 1px;
    & span {
      padding: 0 20px;
    }
  }
}
.window-btn {
  height: 30px;
  padding: 0 15px;
  background-color: $primaryLighterColor;
  border: none;
  color: $lightColor;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.window-btn:hover {
  background-color: $primaryLightColor;
}
