/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~/src/fonts/index.css';
@import '~/src/colors.scss';

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 95%;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: top right;
  padding: 0 3px 3px 0;
}

.react-resizable-handle-n {
  cursor: ns-resize;
  top: 0;
  border-top: 1px solid $primaryColor;
  opacity: 0.5;
  height: 2px;
  width: calc(100% - 60px);
}

body {
  position: relative;
  color: $primaryColor;
  height: 100vh;
  background: $lightColor;
  font-family: 'Roboto Light', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

.app--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid $primaryColor;
  box-sizing: border-box;
}

.menu--bar {
  color: $primaryColor;
  padding: 2px 8px;
  margin-left: -4px !important;
}

.online {
  border-color: $online !important;
}
.offline {
  border-color: $offline !important;
}
.busy {
  border-color: $busy !important;
}
.away {
  border-color: $away !important;
}

.dialog {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  .message {
    max-width: 70%;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 18px;
    font-size: 0.9rem;
    font-family: 'Roboto Light';
  }
  .received .content,
  .sent .content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .received {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    & .message {
      background-color: $primaryLightColor;
      color: $lightColor;
    }
  }
  .sent {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & .message {
      background-color: $lightColor;
      color: $primaryLighterColor;
    }
    .content {
      justify-content: flex-end;
    }
  }
  .message--info {
    display: flex;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      width: 16px;
      margin-left: 5px !important;
    }
  }
}
.footer {
  // padding: 5px;
  background-color: $lightColor;
  color: $primaryLighterColor;
  min-height: 40px;
  display: flex;
  max-height: 40%;
  .input {
    flex: 1;
    display: flex;
    background-color: #ccc;
    textarea {
      flex: 1;
      resize: none;
      border: none;
      outline: none;
      padding: 10px;
      background: $lightColor;
    }
  }
  .options {
    min-width: 60px;
    display: flex;
    & button {
      background-color: $primaryLighterColor;
      flex: 1;
      outline: none;
      border: none;
      color: $lightColor;
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $primaryLightColor;
      }
    }
  }
}

@import '~/src/components/HeaderTitle/style.scss';
@import '~/src/components/LeftContainer/style.scss';
@import '~/src/components/RightContainer/style.scss';
@import '~/src/components/HeaderChat/style.scss';
