$mainBgColor: #2c3e50;
$mainFontColor: #2c3e50;
$mainFontLightColor: #2c3e50;
$mainBgLightColor: #f5f5f5;
$mainLightColor: #f5f5f5;
$chatContainer: #e6eaea;
$chatSendFontColor: #2c3e50;
$chatReceiveFontColor: #f5f5f5;
$chatSendBgColor: #f5f5f5;
$chatReceiveBgColor: #435f7a;
$chatTitleButtonColor: #3a4e62;
/* status colors */
$online: #62c377;
$offline: #c4c4c4;
$busy: #c36262;
$away: #c3a262;
